<footer class="text-center py-6 border-t border-gray-200 dark:border-gray-700">
    <img src="./assets/images/saba.png" alt="SABA Logo" class="h-10 mx-auto mb-3">

    <div class="flex justify-center items-center space-x-3 font-kanit mb-3">
        <img src="./assets/icons/promma-logo.png" alt="promma logo" class="h-10 w-10 rounded-full flex-shrink-0">
        <div class="text-left text-gray-700 dark:text-gray-200 font-kanit text-xs">
            <p>
                พัฒนาโดย <a href="./about.html" class="text-blue-600 dark:text-blue-400 hover:underline">นายทวีรักษ์
                    ทูลพุทธา</a>
            </p>
            <p>โรงเรียนพรหมานุสรณ์จังหวัดเพชรบุรี</p>
        </div>
    </div>
    <p class="text-xs text-gray-500 dark:text-gray-400 mt-4">
        © <span id="copyright-year"></span> Prommanusorn Phetchaburi School. All rights reserved.
    </p>


</footer>